SPRING_PROFILES_ACTIVE=

# === JWT Authentication === #
SUPABASE_PROJECT_URL=

# === LLM Models === #
SPRING_AI_OPENAI_API_KEY=
SPRING_AI_ANTHROPIC_API_KEY=

# === SUPABASE (Storage Uploads) === #
SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_ROLE_KEY=
